@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Encode Sans SC", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-family: "Bodoni Moda", serif;
}

.content {
  margin: 10px 40px 10px;
}

.button {
  margin: 5px;
  padding: 5px 15px;
  background-color: rgb(37, 34, 34);
  font-family: "Bodoni Moda", serif;
  border: none;
  box-shadow: 5px 5px 3px .5px rgba(37, 34, 34, 0.39);
  color: #ffffff;
  cursor: pointer;
}

.button a {
  color: #ffffff;
}

.button-container {
  display: flex;
  justify-content: center;
}

.nav-container {
  background-color: #252222;
  min-width: 100%;
  margin: 0;
  padding: 0 20px 0;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-logo {
  color: #ffffff;
  font-size: 32px;
  font-family: "Bodoni Moda", serif;
}

.nav-logo:hover,
.nav-logo:focus {
  color: rgb(138, 146, 237);
}

.navbar {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  text-align: center;
  transition: 750ms;
  z-index: 10;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-list.active {
  left: 0;
  background-color: rgba(38, 38, 38, 0.85);
  padding-top: 20px;
}

.nav-links {
  color: #ffffff;
  font-family: "Encode Sans SC", sans-serif;
}

.nav-item {
  margin: 10px 0;
  color: #ffffff;
}

.nav-item a {
  margin: 1em 0;
  color: #ffffff;
  text-decoration: none;
  transition: 400ms ease;
}

li.nav-item a:hover,
li.nav-item a:focus {
  color: rgb(255, 170, 255);
}

.mobile-menu {
  cursor: pointer;
  margin-right: 20px;
  z-index: 9999;
}

.mobile-menu.active .line:nth-child(2) {
  opacity: 0;
}

.mobile-menu.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.mobile-menu.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.line {
  display: block;
  background-color: #fff;
  width: 24px;
  height: 2px;
  margin: 6px auto;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease-in-out;
}

@media (min-width: 700px) {
  .navbar {
    gap: 10px;
  }
  .nav-list {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: auto;
    color: #ffffff;
    margin-top: 0px;
  }

  .mobile-menu {
    display: none;
  }
}

/* Header */

.header-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  background-color: #b6b6b6;
}

.gatsby-image-wrapper.hero-image {
  width: 100%;
  border: none;
}

.hero-titles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
}

.title-first {
  font-family: "Bodoni Moda", serif;
  font-size: 48px;
}

.title-second {
  font-family: "Bodoni Moda", serif;
  font-size: 48px;
}

.title-third {
  font-family: "Bodoni Moda", serif;
  font-size: 16px;
  font-weight: 100;
}
@media (min-width: 450px) {

  .hero-titles {
  top: 45%;
  left: 15%;
  transform: none;
  z-index: 0;
  color: rgb(255, 255, 255);
  }

  .title-first {
    font-family: "Bodoni Moda", serif;
    font-size: 44px;
  }

  .title-second {
    font-family: "Bodoni Moda", serif;
    font-size: 44px;
  }

  .title-third {
    font-family: "Bodoni Moda", serif;
    font-size: 16px;
    font-weight: 100;
  }
}

@media (min-width: 500px) {

  .hero-titles {
  top: 50%;
  left: 20%;
  transform: none;
  z-index: 0;
  color: rgb(255, 255, 255);
  }
}
@media (min-width: 550px) {

  .hero-titles {
  top: 55%;
  left: 25%;
  transform: none;
  z-index: 0;
  color: rgb(255, 255, 255);
  }
}

@media (min-width: 700px) {

  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .gatsby-image-wrapper.hero-image {
    width: 30%;
  }

  .hero-titles {
  top: 15%;
  left: 40%;
  }

  .title-first {
    font-size: 44px;
  }

  .title-second {
    font-size: 44px;
  }

  .title-third {
    font-size: 16px;
  }
}
@media (min-width: 800px) {

  .hero-titles {
  top: 20%;
  left: 40%;
  }

  .title-first {
    font-size: 44px;
  }

  .title-second {
    font-size: 44px;
  }

  .title-third {
    font-size: 16px;
  }
}
@media (min-width: 900px) {

  .hero-titles {
    top: 15%;
    left: 45%;
  }

  .title-first {
    font-size: 64px;
  }

  .title-second {
    font-size: 64px;
  }

  .title-third {
    font-size: 22px;
  }
}

@media (min-width: 1100px) {

  .hero-titles {
  top: 20%;
  left: 45%;
  }
}
@media (min-width: 1200px) {

  .hero-titles {
  top: 25%;
  left: 45%;
  }
}

.presentation-container {
  background-color: #252222;
  color: white;
  padding: 20px 0;
}

@media (min-width: 700px) {

  .presentation-container {
    padding: 20px 40px;
  }
}
@media (min-width: 900px) {

  .presentation-container {
    padding: 20px 100px;
  }
}
@media (min-width: 1100px) {

  .presentation-container {
    padding: 20px 200px;
  }
}

.presentation-title {
  font-family: "Dancing Script", cursive;
  font-size: 42px;
  margin: 20px 10px 10px 40px;
}

.letter {
  font-family: "Encode Sans SC", sans-serif;
  font-weight: 100;
  padding: 0 40px;
}

.signature {
  display: flex;
  justify-content: end;
  margin: 10px 40px 10px 10px;
  font-family: "Dancing Script", cursive;
}

/* home-template.js */
.home-container {
  display: flex;
  flex-direction: column;
  background-color: #c5c0c0;
  padding: 50px 0 40px;
  width: 100%;
}

.portfolio-link {
  font-family: "Encode Sans SC", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #252222;
}

.content-home {
  color: #252222;
}

.content-home p {
  margin-bottom: 20px;
}

/* Portfolio-template.js */

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c5c0c0;
  width: 100%;
}

.portfolio-h1 {
  margin: 30px 0 0;
  font-size: 42px;
}

.port-link {
  color: #252222;
}

.portfolio-itemlist {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  padding: 0 30px;
  justify-content: center;
  background-color: #c5c0c0;
}

.list-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c5c0c0;
  padding: 30px 0px 0px 0px;
  max-width: 326.08px;
  /* min-height: 374.32px; */
}

.portfolio-container h2 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-family: "Bodoni Moda", serif;
  margin-bottom: 20px;
  font-size: 32px;
}

.gatsby-image-wrapper {
  border-radius: 1px;
}

.gatsby-image-wrapper.portfolio-image {
  border: solid #252222 10px;
  border-radius: 1px;

}

.list-wrapper {
  text-align: center;
  width: 100%;
}

.list-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px 0 0 0;
}

.list-description p {
  margin: 0;
  font-family: "Bodoni Moda", serif;
  font-size: 30px;
}

.list-description li p{
  font-size: 20px;
  font-family: "Encode Sans SC", sans-serif;
  margin-bottom: 10px;
}

/* .ul li {
  display: flex;
  justify-content: center;
} */

/* About */

.bild {
  margin: 40px;
  max-width: 900px;
}

@media (min-width: 700px) {
  .bild {
    margin: 40px;
    max-width: 500px;
  }

  .content-about {
    padding: 0 100px;
  }
}
@media (min-width: 900px) {
  .bild {
    margin: 0px 60px 0px 0px;
  }

  .about-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .content-about {
    padding: 0;
  }
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Contact */

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-links {
  color: #252222;
  padding: 5px;
}

/* Portfolio Items */

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c5c0c0;
}

.item-h1 {
  margin: 30px 0 0;
}

.item-header {
  font-family: "Bodoni Moda", serif;
  font-size: 42px;
}

.gatsby-image-wrapper.item-image {
  margin: 30px;
}

.content-item {
  text-align: center;
}

.item-button {
  margin-bottom: 30px;
  padding: 15px 25px;
}

/* Footer */

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  bottom: 0;
  background-color: #252222;
  width: 100%;
  padding: 40px 50px;
  gap: 40px;
}

.footer {
  text-align: center;
}

.footer-container a {
  color: #ffffff;
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.socials {
  display: flex;
  flex-direction: row;
}

.links {
  display: flex;
  flex-direction: row;
  margin: 5px;
  gap: 10px;
}
